@import "/src/shared/mixins.scss";

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(0px, var(--page-space-large), 50px);
    align-content: center;

    padding: var(--page-space-large);

    color: var(--White);
    background-color: var(--Grey-green-1);

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    &__cell {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media screen and (max-width: 767px) {
            align-items: center;
        }
    }

    &__faq-links {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        &-link {
            cursor: pointer;
            font-family: "DIN Light";
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            font-weight: 300;
            font-size: 1.4rem;
        }
    }

    &__payment-icons {
        fill: var(--Grey-green-4);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
    }

    &__copyright {
        opacity: 70%;
        font-weight: 300;
        font-size: 1.4rem;
    }
}
