.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 10px;

    color: white;
    background-color: #5b6460;

    font-weight: 300;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
        background-color: #808e88;
    }

    &:active {
        background-color: #979797;
    }
}
