@import "../../../assets/css/mixins.scss";
.radio-icon {
    @include disable-selection;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    background: #ffffff;

    &--checked {
        background: #5b6460;
    }
    &--with-border {
        border: 0.7px solid #333333;
    }
}
