@import "/src/assets/css/mixins.scss";

.page {
    $intro-height: 100vh;
    $book-button-shift: 45px;

    &__intro {
        height: $intro-height;
        margin-bottom: $book-button-shift;

        &-section {
            @include page-side-margins;
            display: flex;
            text-align: end;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 40px;
            color: var(--White);
        }
        &-head {
            margin-bottom: 0;
        }
        &-paragraph {
            text-align: center;
            width: max(200px, 30%);
            font-weight: 100;
            font-size: 2rem;
            color: var(--White);
        }
    }

    &__book-button {
        @include page-side-margins;
        position: absolute;
        bottom: -$book-button-shift;
        width: 350px;
    }

    &__section {
        @include page-side-margins;
        @include page-vertical-margins;
        @include grid-layout;
        gap: 10vw;
    }

    &__media-collage {
        @include page-vertical-margins;
        @include grid-layout(3);
        gap: 30px;
        padding: 0 30px;
    }

    &__geolocation {
        @include grid-layout;
        background: #e9ece0;
    }
    &__about-forest {
        padding: 10vw;
    }

    &__facilities {
        @include page-side-paddings;
        padding-top: 50px;
        padding-bottom: 50px;
        color: var(--White);
        background: var(--Grey-green-1);

        &-head {
            text-align: center;
            color: var(--White);
            font-weight: 300;
            margin-bottom: 100px;
        }
    }
    &__grid {
        @include grid-layout(4, 3);
    }

    &__about {
        position: relative;
        @include grid-layout;
        height: 80vh;
    }
    &__more-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 150px;
        width: 150px;
        overflow: hidden;
    }

    &__contacts {
        @include page-side-margins;
        @include page-vertical-margins;
        @include grid-layout;
        gap: 10vw;
    }
}
