@import "/src/assets/css/mixins.scss";

.hut-page {
    &__panorama {
        height: 50vh;
        position: relative;

        &-head {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 300;
            color: var(--White);
            text-align: center;
            font-size: 4rem;
            margin: 0;
        }
    }
}
