@import "./fonts.scss";

:root {
    // colors
    --White: #ffffff;
    --Black: #000000;
    --Grey-1: #333333;
    --Grey-2: #828282;
    --Grey-green-1: #5b6460;
    --Grey-green-2: #7b837f;
    --Grey-green-3: #adb1af;
    --Green-1: #41916d;
    --Red-1: #ff0000;

    // spaces
    --page-space-large: 10vw;
    --page-space-small: 2vw;

    // breakpoints
    --breakpoints-small: 320px;
    --breakpoints-small-medium: 600px;
    --breakpoints-medium: 900px;
    --breakpoints-medium-large: 1200px;
    --breakpoints-large: 1800px;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: Greyscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1 {
    font-weight: 300;
    font-size: 7rem;
    color: var(--White);
}
h2 {
    font-weight: 400;
    font-size: 4rem;
    color: var(--Grey-green-1);
}
p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--Grey-1);
}
