$side-space: 10vw;

@mixin page-side-margins {
    margin-left: $side-space;
    margin-right: $side-space;
}

@mixin page-side-paddings {
    padding-left: $side-space;
    padding-right: $side-space;
}

@mixin page-vertical-margins {
    margin-top: 10vw;
    margin-bottom: 10vw;
}

@mixin grid-layout($column-count: 2, $row-count: 0) {
    display: grid;
    grid-template-columns: repeat($column-count, 1fr);
    @if $row-count != 0 {
        grid-template-rows: repeat($row-count, 1fr);
    }
}