$large-page-gap: 10vw;
$small-page-gap: 2vw;

@mixin page-side-margins {
    margin-left: $large-page-gap;
    margin-right: $large-page-gap;
}

@mixin page-side-paddings {
    padding-left: $large-page-gap;
    padding-right: $large-page-gap;
}

@mixin page-vertical-margins {
    margin-top: 10vw;
    margin-bottom: 10vw;
}

@mixin grid-layout($column-count: 2, $row-count: 0) {
    display: grid;
    grid-template-columns: repeat($column-count, 1fr);
    @if $row-count != 0 {
        grid-template-rows: repeat($row-count, 1fr);
    }
}

@mixin disable-selection {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}