.input-field {
    position: relative;
    $padding: 21px 21.5px 14px 21.5px;
    box-sizing: border-box;

    &__input {
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        border: 0.7px solid var(--Grey-2);
        padding: $padding;
        font-size: 1.6rem;
        line-height: 50%;
        &:focus {
            outline: none;
        }
        &:focus ~ &-hint,
        &:not(:placeholder-shown) ~ &-hint {
            top: 11px;
            font-size: 0.8rem;
            font-weight: 600;
        }
        &:not(:placeholder-shown):not(:focus):invalid {
            color: var(--Red-1);
            border-color: var(--Red-1);
        }
    }
    &__input-hint {
        transition: all 0.1s;
        position: absolute;
        top: 50%;
        left: 21.5px;
        transform: translateY(-50%);

        font-weight: 400;
        font-size: 1.6rem;
        line-height: 18px;
        color: var(--Grey-2);

        pointer-events: none;
    }
}
