.payment-page {
    margin: var(--page-space-medium) var(--page-space-small)
        var(--page-space-large) var(--page-space-large);
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--page-space-large);
    row-gap: var(--page-space-medium);

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        margin-right: var(--page-space-large);
    }

    &__back-link {
        grid-column: 1 / 3;
        display: flex;
        align-items: baseline;
        gap: 20px;
        cursor: pointer;

        @media screen and (max-width: 1024px) {
            grid-column: 1;
        }
        &-icon {
            transform: rotateY(180deg);
        }
        &-text {
            text-transform: uppercase;
            font-family: "DIN Light";
            font-size: 1.6rem;
            color: var(--Grey-1);
        }
    }
    &__aside {
        display: flex;
        flex-direction: column;
        padding: 24px;
        height: min-content;
        border: 0.7px solid var(--Grey-green-1);
        gap: 24px;
        color: var(--Grey-1);
        font-weight: 400;

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            &-name {
                font-size: 2.4rem;
            }
            &-location {
                font-size: 1.6rem;
            }
        }

        @media screen and (max-width: 1024px) {
            order: 1;
        }
    }
}
