.payment-page {
    margin: var(--page-space-medium) var(--page-space-small)
        var(--page-space-large) var(--page-space-large);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--page-space-large);
    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        margin-right: var(--page-space-large);
    }

    &__payment-form {
        display: flex;
        flex-direction: column;
        gap: var(--page-space-medium);
        @media screen and (max-width: 1024px) {
            order: 2;
        }
    }
    &__divider {
        margin: 24px 0;
    }
    &__section-head {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 24px;
        color: var(--Grey-green-1);
    }
    &__section-divider {
        border: 0.7px solid var(--Grey-green-1);
    }
    &__personal-info-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    &__card-form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &-with-gap {
                gap: 24px;
            }
        }
    }
    &__message {
        height: 100px;
    }
    &__confirm {
        display: grid;
        gap: 50px;

        &-accepting {
            color: var(--Grey-1);
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 28px;
        }
        &-terms-and-conditions {
            cursor: pointer;
            color: var(--Grey-green-1);
            text-decoration-line: underline;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 28px;
        }
        &-button {
            height: 60px;
            width: 384px;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }
    &__aside {
        display: flex;
        flex-direction: column;
        padding: 24px;
        height: min-content;
        border: 0.7px solid var(--Grey-green-1);
        gap: 24px;
        color: var(--Grey-1);
        font-weight: 400;

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            &-name {
                font-size: 2.4rem;
            }
            &-location {
                font-size: 1.6rem;
            }
        }

        @media screen and (max-width: 1024px) {
            order: 1;
        }
    }
}
