.detail-item {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--Grey-1);

    &__header {
        font-weight: 600;
    }
    &__caption {
        font-weight: 300;
    }
}
