.icon-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;

    background-color: var(--Grey-green-1);
}
