@mixin price-label {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--Grey-1);
}

.button-with-price {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    height: 100%;

    &__button {
        flex-grow: 1;
    }
    &__price {
        font-family: "DIN Light";
        width: 70px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-color: var(--Grey-green-4);

        &-label-from {
            @include price-label;
        }
        &-value {
            font-family: "DIN Light";
            color: var(--Grey-1);
            font-weight: bold;
            font-size: 2.2rem;
            text-align: center;
        }
        &-label-unit {
            @include price-label;
            text-align: end;
        }
    }
}
