@import "../../assets/css/mixins.scss";

@mixin column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 0;
}

.footer {
    @include page-side-paddings;

    $vertical-paddings: 8vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(0px, 10vw, 50px);

    padding-top: $vertical-paddings;
    padding-bottom: $vertical-paddings;

    color: var(--White);
    background-color: var(--Grey-green-1);

    &__first-column {
        @include column;
        align-items: flex-start;
    }

    &__input-with-arrow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__input-email {
        background-color: transparent;
        border: none;
        color: var(--White);
        &::placeholder {
            color: var(--White);
            font-style: italic;
        }
        &:focus {
            outline: none;
        }
    }

    &__newsletter {
        &-header {
            font-weight: 600;
            font-size: 1.6rem;
        }
        &-caption {
            opacity: 80%;
            font-weight: 300;
            font-size: 1.6rem;
        }
    }

    &__copyright {
        opacity: 70%;
        font-weight: 300;
        font-size: 1.4rem;
    }

    &__second-column {
        @include column;
        align-items: flex-end;
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__link {
        font-family: "DIN Light";
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: var(--White);
        font-weight: 300;
        font-size: 1.4rem;
    }

    &__payment-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}
