@import "../../assets/css/mixins.scss";

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(0px, var(--page-space-large), 50px);
    align-content: center;

    padding: var(--page-space-large);

    color: var(--White);
    background-color: var(--Grey-green-1);

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    &__cell {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media screen and (max-width: 767px) {
            align-items: center;
        }
    }

    &__newsletter {
        &-header {
            font-weight: 600;
            font-size: 1.6rem;
        }
        &-caption {
            opacity: 80%;
            font-weight: 300;
            font-size: 1.6rem;
        }
    }

    &__input-with-arrow {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-email {
            flex-grow: 1;
            border: none;
            background-color: transparent;
            color: var(--White);
            &::placeholder {
                color: var(--White);
                font-style: italic;
            }
            &:focus {
                outline: none;
            }
        }
        &-arrow {
            fill: var(--Grey-green-4);
        }
    }

    &__faq-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;

        &-link {
            font-family: "DIN Light";
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            color: var(--White);
            font-weight: 300;
            font-size: 1.4rem;
        }
    }

    &__payment-icons {
        fill: var(--Grey-green-4);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    &__copyright {
        opacity: 70%;
        font-weight: 300;
        font-size: 1.4rem;
    }
}
