@import "/src/shared/mixins.scss";

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.additional-service-radio {
    --side-space: clamp(10px, 1.5vw, 20px);

    box-sizing: border-box;

    &__summary {
        @include centered;
        background-color: var(--Grey-green-4);
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;

        height: 70px;
        padding: 0 var(--side-space);

        &-row {
            @include centered;
            flex-direction: row;
            gap: var(--side-space);
        }
        &-header {
            margin-top: 0;
            margin-bottom: 10px;

            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2rem;
            color: var(--Grey-1);
        }
        &-caption {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.8rem;
            color: var(--Grey-1);
        }
        &-icon {
            @include disable-selection;
            @include centered;

            width: 20px;
            height: 100%;

            cursor: pointer;
            transition: transform 0.3s;

            &[data-isOpened="true"] {
                transform: rotateX(180deg);
            }
        }
        &-choose-span {
            @include disable-selection;
            cursor: pointer;
            font-weight: 400;
            font-size: 1.4rem;
        }
    }

    &__option-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}
