@import "/src/shared/mixins.scss";

.radio-icon {
    @include disable-selection;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 34px;
    height: 34px;
    border-radius: 50%;

    cursor: pointer;
    background-color: var(--White);

    &[data-isChecked="true"] {
        background-color: var(--Grey-green-1);
    }
    &[data-withBorder="true"] {
        border: 0.7px solid var(--Grey-1);
    }

    &__img {
        height: 15px;
        width: 15px;
    }
}
