.additional-service-option {
    display: flex;
    gap: 20px;

    padding: 0 var(--side-space);

    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--Grey-1);

    &__header {
        font-weight: 600;
    }
    &__caption {
        font-weight: 300;
    }
}
