.section-with-tabs {
    &__head {
        margin-bottom: 50px;
    }
    &__tabs {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 50px;
    }
    &__tab {
        font-weight: 400;
        font-size: 1.8rem;
        color: var(--Grey-green-1);
        cursor: pointer;
        font-style: italic;

        &_selected {
            text-decoration: underline;
        }
    }
}
