@import "/src/assets/css/mixins.scss";

.faq-page {
    &__list {
        @include page-side-paddings;
        @include page-vertical-margins;
        padding-right: 30vw;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__details {
        transition: all 1s;
    }
    &__paragraph {
        font-weight: 400;
        font-size: 1.4rem;
    }
}
