.faq-page {
    &__list {
        padding: var(--page-space-medium) var(--page-space-large);
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media screen and (min-width: 1024px) {
            padding-right: calc(var(--page-space-large) * 3);
        }
    }
    &__paragraph {
        font-weight: 400;
        font-size: 1.4rem;
    }
}
